$bgColor: #e9eff5;
$text: #fff;
$primary-color: #ff3e79;
$secondary-color: #41f6d7;
$text-primary: #1b1c21;
$text-secondary: #7e7e82;
$border-light: #eaeaea;
$border-accent: #d9fff5;
$background-white: #ffffff;
$border-ocean: #b8ffec;
$main-color: #f8f8f8;
$active-button: #b5b6bc;
$swiper-color: #dddddd;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$overlay-background: rgba(255, 255, 255, 0.6);
$modal-overlay-color: rgba(255, 255, 255, 0.459);

$gradient-white: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
